@charset "Shift_JIS";

/*--------------------------------------------------------
  共通レイアウトパーツ設定
--------------------------------------------------------*/
/* ヘッダー内パーツ */
#hpb-headerMain
{
    height: 19px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}

#hpb-headerMain h1
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: left;
    font-weight: normal;
    line-height: 18px;
    font-size: 10px;
    color: #ffffff; /* ヘッダー説明文文字色 */
}

#hpb-headerLogo
{
    width: 400px;
    float: left;
}

#hpb-headerLogo a
{
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-indent: -9999px;
    overflow: hidden;
    height: 82px;
    background-image : url(logo_1Ae.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#hpb-headerExtra1
{
    width: 160px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 75px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    float: right;
}

#hpb-headerExtra1 p.tel
{
    /* 電話番号の文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 1.7em;
    font-weight: bold;
    color: #6B99E0;
    line-height: 1.2;
    text-align: right;
}

#hpb-headerExtra1 p.tel span
{
    /* 電話番号の「TEL」文字設定 */
    color: #CCCCCC;
}

#hpb-headerExtra1 p.address
{
    /* 住所文字設定 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.2;
    text-align: right;
}
#hpb-headerExtra1 a
{
    /* 概要 */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    line-height: 1.2;
    text-align: right;
}

#hpb-headerExtra2
{
}

/* フッター内パーツ */
#hpb-footerMain
{
    width: 800px;
    float: right;
    padding-top: 10px;
}

#hpb-footerMain p
{
    /* コピーライト文字設定 */
    font-size: 0.8em;
    text-align: right;
}

#hpb-footerLogo
{
}

#hpb-footerExtra1
{
    padding-top: 9px;
}

#hpb-footerExtra1 ul
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

#hpb-footerExtra1 li
{
    /* フッターナビ設定 */
    display: inline;
    background-image : url(fpoint_1Ae.png);
    background-position: 7px 4px;
    background-repeat: no-repeat;
    padding-left: 23px;
    padding-right: 10px;
    font-weight: bold;
}

#hpb-footerExtra1 a:link
{
    color: #666666;
    text-decoration: none;
}
#hpb-footerExtra1 a:visited
{
    color: #666666;
    text-decoration: none;
}
#hpb-footerExtra1 a:hover
{
    color: #6B99E0;
    text-decoration: none;
}
#hpb-footerExtra1 a:active
{
    color: #6B99E0;
    text-decoration: none;
}

#hpb-footerExtra2
{
}

/* サイドブロック内パーツ */
#banner
{
    margin-top: 15px;
    background-color: #F4F4F4;
    padding-top: 10px;
}

#banner ul
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#banner li
{
    padding-bottom: 10px;
}

#banner li a
{
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-indent: -9999px;
    overflow: hidden;
}

#banner a#banner-service
{
    /* 電子掲示板バナー */
    background-image : url(top_banner_1Ae_01.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-recruit
{
    /* ブログバナー */
    background-image : url(top_banner_1Ae_02.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-access
{
    /* 学勢調査バナー */
    background-image : url(top_banner_1Ae_03.png);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-bbs
{
    /* 電子掲示板バナー */
    background-image : url(top_banner_1Ae_01.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-blog
{
    /* ブログバナー */
    background-image : url(top_banner_1Ae_04.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-gakusei
{
    /* 学勢調査バナー */
    background-image : url(top_banner_1Ae_02.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-school
{
    /* スクールパートナーバナー */
    background-image : url(top_banner_1Ae_03.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}

#banner a#banner-volunteer
{
    /* ボランティアバナー */
    background-image : url(top_banner_1Ae_05.jpg);
    background-position: top left;
    background-repeat: no-repeat;
}
/*--------------------------------------------------------
  ナビゲーションデザイン設定
--------------------------------------------------------*/

#hpb-nav li a
{
    /* ナビゲーション文字設定 */
    font-weight: bold;
}

#hpb-nav li a:link
{
    color: #666666;
    text-decoration: none;
}
/* ナビゲーション文字色設定 */
#hpb-nav li a:visited
{
    color: #666666;
    text-decoration: none;
}
#hpb-nav li a:hover
{
    color: #ffffff;
    text-decoration: none;
}
#hpb-nav li a:action
{
    color: #ffffff;
    text-decoration: none;
}


#hpb-nav li span.en
{
    display: none;
}


/*--------------------------------------------------------
  基本パーツデザイン設定
--------------------------------------------------------*/

/* リンク文字色 */
a:link
{
    color: #0066ff;
    text-decoration: underline;
}
a:visited
{
    color: #0066ff;
    text-decoration: underline;
}
a:hover
{
    color: #cc66cc;
    text-decoration: none;
}
a:active
{
    color: #cc66cc;
    text-decoration: none;
}

#hpb-skip
{
    /* ヘッダースキップの非表示 */
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
}

p
{
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding-right: 0.1em;
    padding-left: 0.1em;
    line-height: 1.4;
    text-align: left;
}

p.large
{
    color: #3260A7;
    font-weight: bold;
}
p.indent
{
    padding-left: 25px;
}

.left
{
    float: left;
}
.right
{
    float: right;
}

hr
{
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: none;
    border-right-width: 1px;
    border-right-style: none;
    border-left-width: 1px;
    border-left-style: none;
    color: #000000;
    border-bottom-width: 1px;
    border-bottom-style: none;
}

.hpb-layoutset-02 h2
{
    background-image : url(content_title_1Ae.png);
    width: 650px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0.5em;
    margin-left: 0;
    height: 50px;
    line-height: 57px;
    text-align: left;
    overflow: hidden;
}

.hpb-layoutset-02 h2 span.ja
{
    font-size: 1.15em;
    color: #ffffff;
    padding-right: 10px;
    line-height: 50px;
    padding-left: 18px;
}

h2 span.en
{
    font-size: 0.9em;
    color: #B7CAE6;
}

.hpb-layoutset-02 #hpb-wrapper h3
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    padding-top: 3px;
    padding-left: 1px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #415F95;
    font-size: 1.3em;
    color: #3260A7;
}

h3.hpb-c-index
{
    height: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-indent: -9999px;
    background: none;
}

h4
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 2px;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.2;
    color: #3260A7;
}

h5
{
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 4px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 25px;
    text-align: left;
    background-image : url(point_1Ae.png);
    background-position: 6px 8px;
    background-repeat: no-repeat;
    font-size: 1.1em;
    line-height: 1.2;
    color: #3260A7;
}

/*
table
{
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: 0;
    border-collapse: collapse;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #cccccc;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cccccc;
}

table th
{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    background-color: #eeeeee;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}

table td
{
    padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 8px;
    padding-left: 8px;
    text-align: left;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cccccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
}
*/

/* フォームパーツ設定 */
input.button
{
    margin-top: 10px;
    margin-bottom: 15px;
}

textarea
{
    width: 400px;
    height: 200px;
}

input.l
{
    width: 400px;
}
input.m
{
    width: 250px;
}
input.s
{
    width: 150px;
}


/* メインコンテンツ内基本パーツ */

#hpb-main ul
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

#hpb-main ul li
{
    text-align: left;
    line-height: 1.4;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    background-image : url(point_1Ae.png);
    background-position: 5px 12px;
    background-repeat: no-repeat;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #DDDDDD;
    color: #000000;
}

#hpb-main dl
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    zoom: 100%;
}

#hpb-main dt
{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    font-weight: bold;
    width: 170px !important;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 25px;
    background-image : url(point_1Ae.png);
    background-position: 5px 12px;
    background-repeat: no-repeat;
    color: #4A78BF;
}

#hpb-main dd
{
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    text-align: left;
    line-height: 16px;
    min-height: 16px;
    padding-left: 195px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #DDDDDD;
}

*:first-child + html #hpb-main dd
{
    /* for IE7 */
    padding-left: 10px;
    min-height: 20px;
}

* html #hpb-main dd
{
    /* for IE6 */
    height: 20px;
    padding-left: 0px;
}

#hpb-main dl:after
{
    content: ".";
    clear: both;
    height: 0;
    display: block;
    visibility: hidden;
}

#hpb-main img.left
{
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

#hpb-main img.right
{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    float: right;
}

#report a {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: left;
	line-height: 16px;
	min-height: 16px;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 25px;
	background-image: url(point_1Ae.png);
	background-position: 5px 12px;
	background-repeat: no-repeat;
}

#pagetop
{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: right;
}
#pagetop a
{
    /* ページの先頭へのリンク設定 */
    display: block;
    margin-left: auto;
    width: 125px;
    height: 21px;
    overflow: hidden;
    background-image : url(returnTop_1Ae.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-align: left;
    text-indent: -9999px;
}



/* トップページ デザイン定義 */
.hpb-layoutset-01 #hpb-title h2
{
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    height: 234px;
    background-image : url(top_mainimg_1Ae_01.png);
    background-position: top center;
    background-repeat: no-repeat;
}

#toppage-topics h3
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 26px;
    overflow: hidden;
    background-image : url(top_indexBg_1Ae.png);
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 28px;
    padding-left: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 1.2em;
}

#toppage-news h3
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    height: 26px;
    overflow: hidden;
    background-image : url(top_indexBg_1Ae.png);
    background-position: top left;
    background-repeat: no-repeat;
    line-height: 28px;
    padding-left: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 1.2em;
}

#toppage-news h3 span.ja
{
    display: none;
}

#hpb-inner #companyinfo {
	padding-top: 0px;
	padding-bottom: 10px;
	background-color: #f5f5f5;
}

#hpb-inner #companyinfo h3 {
	color: #808080;
	text-align: left;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 5px;
	background-color: #dcdcdc;
	font-size: 1.1em;
}

#hpb-inner #companyinfo p
{
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 5px;
}
