@charset "Shift_JIS";

/*--------------------------------------------------------
  フルCSSプロフェッショナルテンプレート部品設定
--------------------------------------------------------*/

.hpb-parts-cnt-style
{
    border-color: #415F95;
}

.hpb-parts-hl-style
{
    border-color: #415F95;
}

.hpb-parts-cbox-style
{
    border-color: #415F95;
}

.hpb-parts-hr-style
{
    border-color: #415F95;
}

.hpb-parts-pbox-style
{
    background-color: #f4f4f4;
    border-color: #dddddd;
}
.hpb-parts-pbox-style h4
{
    padding: 0px !important;
}
.hpb-parts-pbox-style img
{
    background-color: #f4f4f4;
}

.hpb-parts-blist-style
{
    background-color: #f3f3f3;
    border-color: #6B99E0;
}
a.hpb-parts-blist-style:link
{
    color: #666666;
}
a.hpb-parts-blist-style:visited
{
    color: #666666;
}
a.hpb-parts-blist-style:hover
{
    color: #6B99E0;
}
a.hpb-parts-blist-style:active
{
    color: #6B99E0;
}

/*--------------------------------------------------------
  ユーザー設定スタイル
--------------------------------------------------------*/
