﻿@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	color: gray;	/*全体の文字色*/
	margin: 0px;
	padding: 0px;
	font: 14px/2 "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";/*文字サイズ・行間・フォント設定*/
	background: url(../images/bg.png);	/*背景画像の読み込み*/
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure{
	margin: 0px;
	padding: 0px;
}
ul{
	list-style-type: none;
}
img {
	border: none;
}
input,textarea,select {
	font-size: 1em;
}
form {
	margin: 0px;
}
table {
	border-collapse:collapse;
	font-size: 100%;
	border-spacing: 0;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: gray;	/*リンクテキストの色*/
}
a:hover {
	color: #ef8100;			/*マウスオン時の文字色（全体）*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*h1ロゴの設定
---------------------------------------------------------------------------*/
h1 {
	font-size: 10px;		/*文字サイズ*/
	font-weight: normal;	/*太字を標準にする設定*/
	text-align: right;		/*テキストを右側に*/
	line-height: 30px;		/*行間*/
	width: 990px;
	margin: 0 auto 0;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: 950px;	/*ボックス幅*/
	margin: 0 auto 0;
	padding: 20px;	/*ボックス内の余白*/
	background-color: #FFF;	/*背景色*/
	border-radius: 20px;	/*角丸のサイズ*/
	-webkit-box-shadow: 0px 0px 10px #CCC;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 0px 0px 10px #CCC;			/*同上*/
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
header {
	width: 100%;	/*ヘッダーブロックの幅*/
	position: relative;
	margin-bottom: 30px;
}
/*ロゴ画像*/
header #logo img {
	position: absolute;
	z-index: 3;
	left: 6%;		/*ヘッダーブロックに対して左から6pxの位置に配置*/
	top: 17%;		/*ヘッダーブロックに対して上から6pxの位置に配置*/
	width: 21%;		/*画像幅*/
	height: auto;	/*画像の高さ。上の幅に合わせて高さは自動になる。*/
}

/*トップページのスライドショー
---------------------------------------------------------------------------*/
#mainimg {
	position: relative;
	height: 300px;
	width: 950px;
	margin-bottom: 20px;
	border-radius: 10px;	/*角丸のサイズ*/
}
#mainimg img {
	border-radius: 10px;	/*角丸のサイズ*/
	vertical-align: bottom;
}
#mainimg .slide_file {
	display: none;
}
#slide_image {
	z-index:2;
	position: absolute;
	left:0px;
	top:0px;
}
#slide_image2 {
	z-index:1;
	position: absolute;
	left:0px;
	top:0px;
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
#main {
	width: 700px;	/*メインコンテンツ幅*/
	float: right;	/*右側に回り込み*/
	padding-bottom: 50px;
}
/*mainコンテンツのh2タグの設定*/
#main h2 {
	background-color: #ef8100 ;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: url(../images/arrow1.png), -webkit-gradient(linear, left top, left bottom, from(#f6bb75), to(#ef8100));	/*丸いマーク画像の読み込みとグラデーション*/
	background-image: url(../images/arrow1.png), -webkit-linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);	/*同上*/
	background-image: url(../images/arrow1.png), linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);			/*同上*/
	background-repeat: no-repeat;		/*背景の丸いマーク画像をリピートしない設定*/
	background-position: left center;	/*背景の丸いマーク画像の位置*/
	font-size: 100%;
	padding: 0px 10px 0px 40px;	/*左から、上、右、下、左側への余白*/
	clear: both;
	border-radius: 18px;	/*角丸のサイズ*/
	color: #FFF;			/*文字色*/
	line-height: 36px;		/*行間*/
	-webkit-box-shadow: 1px 2px 5px #ccc;	/*影の設定。それぞれ右へ、下へ、ぼかし幅の設定*/
	box-shadow: 1px 2px 5px #ccc;			/*同上*/
	border: 1px solid #ef8100;	/*枠線の幅、線種、色*/
}
/*mainコンテンツのh3タグの設定*/
#main h3 {
	background-color: #FFF;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e5e5e5));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e5e5e5);	/*同上*/
	background-image: linear-gradient(#FFF, #e5e5e5);			/*同上*/
	font-size: 100%;
	padding: 0px 10px 0px 19px;	/*左から、上、右、下、左側への余白*/
	clear: both;
	border-radius: 16px;	/*角丸のサイズ*/
	line-height: 32px;		/*行間*/
	-webkit-box-shadow: 0px 2px 5px #e0e0e0;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 0px 2px 5px #e0e0e0;			/*同上*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 20px 1em;	/*左から、上、左右、下への余白*/
}

/*gallery.html内のブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list article {
	height: 370px;	/*ボックスの高さ*/
	width: 280px;	/*ボックスの幅*/
	border-radius: 10px;	/*角丸のサイズ*/
	-webkit-box-shadow: 0px 1px 6px #999;	/*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 0px 1px 6px #999;			/*同上*/
	background-color:#FFF ;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e6e6e6));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #e6e6e6);	/*同上*/
	background-image: linear-gradient(#FFF, #e6e6e6);			/*同上*/
	padding: 20px;	/*ボックス内の余白*/
	float: left;
	margin: 0px 14px 15px;
	overflow: hidden;
}
/*ボックス内の段落タグ設定*/
#main section.list article p {
	padding: 0px;
	color: #666;		/*文字色*/
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.4;
}
/*ボックス内のh4タグ設定*/
#main section.list article h4 {
	font-size: 100%;
	color: #ef8100;	/*文字色*/
	border-bottom: 2px dotted #ef8100;	/*下線の幅、線種、色*/
	margin-bottom: 5px;
}

/*サブコンテンツ
---------------------------------------------------------------------------*/
#sub {
	float: left;	/*左側に回り込み*/
	width: 220px;	/*サブコンテンツ幅*/
	padding-bottom: 50px;
}
/*subコンテンツのh2タグの設定*/
#sub h2 {
	background-color: #8c8c8c;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdcdc), to(#8c8c8c));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#cbcbcb, #949494 49%, #8c8c8c 50%);	/*同上*/
	background-image: linear-gradient(#cbcbcb, #949494 49%, #8c8c8c 50%);			/*同上*/
	border-radius: 10px 10px 0px 0px;	/*角丸のサイズ。左上、右上、右下、左下への設定。*/
	color: #FFF;	/*文字色*/
	font-size: 100%;
	text-align: center;	/*文字をセンタリング*/
	padding: 10px 0px;	/*上下、左右への余白*/
}

/*メニュー（※サブコンテンツ内）
---------------------------------------------------------------------------*/
/*メニューブロック全体の設定*/
#sub #submenu {
	margin-bottom: 15px;	/*ブロックの下にスペースを空ける設定*/
}
/*メニュー１個ごとの設定*/
#sub #submenu ul li a {
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	display: block;
	border-bottom: 2px dotted #8c8c8c;	/*下線の幅、線種、色*/
	padding: 5px 0px;	/*上下、左右への余白*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
#sub #submenu ul li a:hover {
	background-color: #fce6cc;	/*マウスオン時の背景色*/
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}
footer .pr {
	display: block;
	font-size: 80%;
}
footer a {
	text-decoration: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl{
	overflow: auto;	/*高さ指定を超えるとiframe風にスクロールが出る設定。全部表示させたいならこの行と下のheightの行を削除。*/
	height: 150px;
	margin: 5px 20px 0px;
}
/*日付設定*/
#new dt {
	font-weight: bold;	/*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	border-bottom: 1px solid #ccc;	/*下線の幅、線種、色*/
	padding-left: 8em;
}
#new dd img {
	vertical-align: middle;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 660px;
	margin: 0px auto;
}
.ta1, .ta1 td, .ta1 th{
	border: 1px solid #CCC;	/*テーブルの枠線の幅、線種、色*/
	line-height: 2;
}
/*テーブル内の右側*/
.ta1 td{
	padding: 10px;
}
/*テーブル内の左側*/
.ta1 th{
	width: 180px;
	padding: 10px;
	text-align: center;
	background-color: #ececed;	/*背景色*/
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi{
	width: auto;
	text-align: left;
	background-color: #e9ddae;	/*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#efe6c5), to(#e9ddae));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#efe6c5, #e9ddae);	/*同上*/
	background-image: linear-gradient(#efe6c5, #e9ddae);			/*同上*/
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
}
#pagetop a {
	color: #FFF;		/*文字色*/
	font-size: 10px;	/*文字サイズ*/
	background-color:  #ef8100;	/*背景色*/
	text-decoration: none;
	text-align: center;
	width: 12em;	/*ボックス幅*/
	display: block;
	float: right;
	letter-spacing: 0.1em;
}
/*マウスオン時*/
#pagetop a:hover {
	background-color: #333;	/*背景色*/
	color: #FFF;			/*文字色*/
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #dcdcdc;
}
.mb15 {
	margin-bottom: 15px;
}
.clear {
	clear: both;
}
ul.disc {
	padding: 0em 25px 1em;
	list-style: disc;
}
.color1 {
	color: #ef8100;
}
.color2 {
	color: #FF0033;
}
.pr {
	font-size: 10px;
}
.btn {
	font-size: 13px;
}
.wl {
	width: 96%;
}
.ws {
	width: 50%;
}
.c {
	text-align: center;
}
figcaption {
	font-size: 11px;
}
#menubar_hdr {
	display: none;
}
#menubar {
	display: none;
}
