﻿@charset "utf-8";


body {
  margin: 0;
  padding: 0;
  color: #000000;
  background: #E6E6FA;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: small;
  line-height: 1.8;
}

section, article, aside, nav, header, footer {
  display: block;
}

#page {
  margin: 0 auto;
  width: 80%;
}

header {
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
  background-color: #E6E6FA;
  height: 20%;
  font-size: 36px;
  font-family: 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', Arial, Helvetica;
  font-weight: bold;

  background: linear-gradient(#66CCFF, #D9E5FF);
  background-position: left top;
  background-repeat: no-repeat;
}

#title {

  margin: 10px;
  padding: 10px;
  font-size: 24px;
/*
  color: #660099;
  color: #EF7598;
  color: #EF7585;
  color: #28AF78;
  color: #28AF94;
  color: #28A371;
  color: #336045;
  color: #DB5673;
*/
  color: #3366FF;
}


nav.menu {
  color: #660099;
  background-color: #e6e6fa;
}

nav ul {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #e6e6fa;
  border: 5px solid #e6e6fa;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.8
}

nav li {
  border-radius: 20px;
  background-color: #99CCFE;
  display: block;

}

nav a{
  border-radius: 20px;
  display: block;
  padding: 15px 25px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
}

nav a:hover {
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #CDD2D7;
}

nav #current a{
  border-radius: 20px;
  color: #FF6600;
  background: #FFCFA7;
}




#main {

  background-color: #E0FFFF;
  border-radius: 20px;
  
}

#main section {
  margin: 10px;
  padding: 10px;
  font-family: 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', Arial, Helvetica;
}

.wao {
  margin: 0px;
  padding: 10px;
  width: 80%;
  border-style: dotted;
  border-width: 2px;
  border-color: #000;
  font-size: 12px;
}


#side {

  background-color: #AFEEEE;
  border-radius: 20px;
}

#side section {
  margin: 10px;
  padding: 5px;
  font-family: 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', Arial, Helvetica;
}


#footer {
  clear: both;
}


#footer section{
  padding: 10px;
  text-align: center;
  color: #999;
  background-color: #ffffde;
  border-radius: 20px;
}

  


@media (min-width: 768px){

#main {
  float: left;
  width: 67%;
  height: 2000px;
  background-color: #E0FFFF;
  border-radius: 20px;
  
}


#side {
  float: right;
  width: 33%;
  height: 2000px;
  background-color: #AFEEEE;
  border-radius: 20px;
}



}


@media (min-width: 920px){

nav li {
  border-radius: 20px;
  display: block;
  float: left;

}

#menubtn {
display: none
}

nav {
display: block !important
}
}


@media(max-width: 920px){

#title {

  margin: 10px;
  padding: 10px;
  font-size: 20px;
  color: #660099;
}

nav {
display: none
}
}

.btn {
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  display: block;
  
  background-color: #FFCFA7;
  border: 1px solid #DDD;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #FF6600;
  width: 100px;
  padding: 10px 0;
}


nav ul {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #e6e6fa;
  border: 5px solid #e6e6fa;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.2;
}

