﻿@charset "utf-8";


body {
  margin: 0;
  padding: 0;
  color: #00000;
  background: #E6E6FA;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: small;
  line-height: 1.8;
}

section, article, aside, nav, header, footer {
  display: block;
}

#page {
  margin: 0 auto;
  width: 900px;
}

header {
  border-radius: 20px;
  margin: 0px;
  padding: 0px;
  width: 900px;
  height: 300px;
  font-size: 36px;
  font-family: 'SimHei',monospace;
  font-weight: bold;
  background-image: url(image/1.jpg);
  background-position: left top;
  background-repeat: no-repeat;
}

#title {
  margin: 10px;
  padding: 10px;
  font-size: 36px;
}



nav ul {
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 10px 0;
  padding: 0;
  background-color: #ffffb7;
  border: 2px solid #e0e0e0;
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.8
}

nav li {
  border-radius: 20px;
  display: block;
  float: left;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

nav a{
  border-radius: 20px;
  display: block;
  padding: 15px 25px;
  font-weight: bold;
  text-decoration: none;
  color: #6666ff;
}

nav a:hover {
  border-radius: 20px;
  color: #CCCCFF;
  background-color: #ffff7f;
}

nav #current a{
  border-radius: 20px;
  background: #ffce9e;
}




#main {
  float: left;
  width: 600px;
  height: 800px;
  background-color: #E0FFFF;
  border-radius: 20px;
  
}

#main section {
  margin: 10px;
  padding: 10px;
}


#side {
  float: right;
  width: 300px;
  height: 800px;
  background-color: #ADD8E6;
  border-radius: 20px;
}

#side section {
  margin: 10px;
  padding: 10px;
  font-family: cursive;
}


#footer {
  clear: both;
}


#footer section{
  padding: 10px;
  text-align: center;
  color: #999;
  background-color: #ffffb7;
  border-radius: 20px;
}

  

