#lightbox {

	background-color: #adffad;

	padding: 10px;

	border-bottom: 1px solid #666;

	border-right: 1px solid #666;

}


#lightboxCaption {

	color: #333;

	background-color: #adffad;

	font-size: 24px;

	text-align: center;

	border-bottom: 1px solid #666;

	border-right: 1px solid #666;

}


#lightboxIndicator {

	border: 1px solid white;

}


#lightboxOverallView,
#overlay {

	background-color: #000;

	opacity: 0.5;

}


* html #lightboxOverallView,
* html #overlay {

	background-color: #000;

	filter: Alpha(opacity=50);

}
