*{
	margin: 0;
	padding: 0;
}
a:link {
	color : #6D69FF ; font-weight : bold ; }
a:visited {
	color : #AC4EAB ; font-weight : bold ; }
a:active {
	color : #C0FFC0 ; font-weight : bold ; }
a:hover {
	color : #2929FF ; font-weight : bold ; }
/*body{
	padding: 0;
	background-color: #FFFFFF;
	text-align: left;
	background-image : url(bg.png) ;	
	background-repeat : repeat ;  
	background-attachment : scroll ;
}

	*/
	
h1 {
	margin: 10px;
	}

h2 {
	font-size: 120%;
	}

p.intro{
	border: 2px #808080 dotted;
	background-color: #FFFFFF;
	width: 780px;
	margin: 20px;
	padding :10px;
}

p.contentbox{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
	width: 780px;
	margin: 20px;
	padding :10px;
}

img {
	float: left;
	margin: 10px;
	border: 0;
	}

div.link {
	font-size: 120%;
	font-weight: bold;
	}
