@charset "utf-8";

/*h1タグ設定
---------------------------------------------------------------------------*/
h1 {
	display: none;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	margin: 10px;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
header {
	margin-bottom: 0px;
}

/*タブレット・スマホ専用メニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
#menubar ul li {
	float: left;
	width: 48%;
	margin: 0px 1%;
}
#menubar ul li a {
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	display: block;
	border-bottom: 2px dotted #8c8c8c;	/*下線の幅、線種、色*/
	padding: 5px 0px;			/*上下、左右への余白*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
#menubar ul li a:hover {
	background-color: #fce6cc;	/*マウスオン時の背景色*/
}
/*最後のメニューの設定*/
#menubar ul li:last-child {
	margin-bottom: 20px;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*gallery.html内のブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list article {
	float: none;
	width: 100%;
	height: auto;
	margin: 0px 0px 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/*各ボックス内の画像設定*/
#main section.list article img {
	float: left;	/*左に回り込み*/
	width: 30%;		/*画像幅*/
	height: auto;
	margin-right: 20px;
}

/*トップページのメイン画像
---------------------------------------------------------------------------*/
#mainimg {
	height: auto;
	width: 100%;
	margin-bottom: 5px;
}
#slide_image {
	height: auto;
	width: 100%;
	position: relative;
}
#slide_image2 {
	height: auto;
	width: 100%;
	position: absolute;
	left:0px;
	top:0px;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 96%;
}

/*その他
---------------------------------------------------------------------------*/
/*写真の設定*/
img.wa {
	width: 100%;
	height: auto;
}
#sub #submenu {
	display: none;
}
#menubar {
	display: block;
}