a img { border:0;}
h1{
	color:#000000;
	background-color:;
	margin:0;
	padding:0;
	font-size:15px;
}
h1 p#top1{
	display:none;
}
h1 p#sentence{
	margin:0;
	padding:0;
	height:43px;
}
h1 p#image{
	margin-top:0;
	margin-left:0;
	margin-bottom:0;
	margin-right:7px;
	madding:0;
	float:left;
}
h1 p #top{
	vertical-align:super;
	margin-left:10px;
	font-size:30px;
}
h2{
	background-color:;
	margin:0;
	
}
p#new1{
	margin-bottom:0;
}
p#new{
	border:solid 2px #f91727;
	width:500px;
	margin-top:0;
	padding:5px;
}
h2#firsttitle{
	font-size:17px;
	font-weight:bold;
	background-color:#f91727;
	padding-left:10px;
}
h2#secondtitle{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	text-shadow:3px 3px 5px gray;
	background-color:#fcd66f;
	padding-bottom:0;
}
body{
	font-size:small;
	color:#000000;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
}
div#twitter{
	float:right;
	margin-left:20px;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	
}
div#contents{
	margin-left:auto;
	margin-right:auto;
	width:860px;
}
address{
	clear:both;
	text-align:center;
	border-top:2px solid #0f1669;
}
.questionnair{
	clear:both;
}
h3#information{
	width:640px;
}
p#description{
	background-color:;
	padding:20px;
	margin:0;
}
div.questionnair{
	border:groove 7px #1D6AE0;
	margin-bottom:10px;
	margin-top:0;
}
h3{
	border-left:solid 10px #0f1669;
	border-bottom:solid 2px #0f1669;
	padding-left:5px;
	background-color:#fcd66f;
	font-weight:bold;
	color:#0f1669;
}
h3#informationimp{
	display:none;
}
h3.questionnair{
	margin-bottom:0;
}
table{
	border-collapse:collapse;
	margin-bottom:20px;
}
table th{
	width:100px;
	vertical-align:super;
}
table#link th{
	width:230px;
	text-align:left;
}
table#panellist th{
	width:180px;
}
table#panellist{
	text-align:center;
}
caption{
	display:none;
}
table td ul{
	margin:0;
}
p.question{
	margin-left:5px;
	margin-bottom:0;
	padding-left:5px;
	border-left:solid 17px #ACD8F4;
}
textarea{
	border:;
	font-size:12px;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
}
textarea:focus{
	background-color:#FFED80;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
	font-size:12px;
}
p.example{
	margin:0;
	padding-left:60px;
}
p.form{
	padding-top:10px;
	margin:0;
	padding-left:30px;
}
p#thanks{
	font-size:;
}
#university{
	border:;
	font-size:12px;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
}
#university:focus{
	background-color:#FFED80;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
	font-size:12px;
}
.menu{
}
.menu ul{
	height:45px;
	margin:0;
	padding:0;
	background-color:#005396;
	text-align:center;
	width:;
}
.menu li{
	list-style-type:none;
	float:left;
	padding:;
	width:12%;
}
.menu li a{
	display:block;
	width:auto;
	color:#ffffff;
	text-decoration:none;
	font-size:16px;
	padding:10px 2px;
	margin:0;
}
.first{
	display:block;
	width:auto;
	color:#ffffff;
	background-color:#000000;
	font-weight:bold;
}
.menu li a:hover{
	background-color:#000000;
	color:#ffffff;
}
p#button{
	margin-left:5px;
}
p#button input{
	border:outset 3px #1D6AE0;
	background-color:#ACD8F4;
	font-family:"メイリオ",Verdana, Arial, sans-serif;
	color:#000000;
	width:100px;
}
dt{
	font-weight:bold;
}
p#twitter{
	margin-left:0;
	margin-right:0;
	margin-bottom:0;
	padding:0;
}
p#dateat{
	background-color:#33cbfd;
	margin:0;
}
strong{
	font-weight:bold;
	font-size:15px;
	color:#f91727;
}
strong#title{
	font-size:23px;
}
em{
	font-weight:bold;
	color:#005396;
	font-size:15px;
}
div#com{
	margin-top:40px;
	padding-left:7px;
	background-color:#fcd66f;
	outline-style:ridge;
	outline-width:6px;
	outline-color:#f91727;
	width:640px;
}
p#titleimp{
	margin-bottom:0;
	padding-bottom:0;
}
a{
	text-decoration:none;
}
a:link{
	color:#005396;
}
a:hover{
	color:#f91727;
	font-weight:bold;
}
p#koukoku{
	border:solid 1px #000000;
	margin-right:210px;
}
