h1{
	color:#000000;
	background-color:#ffff00;
	margin:0;
	padding:0;
	border:solid 2px #000000;
}
h1 p{
	margin:0;
	padding:0;
	border:solid 2px #00cc00;
}
h1 p img{
	margin:0;
	madding:0;
	border:solid 2px #aa0000;
}
h1 p #top{
	border:solid 2px #0000dd;
	vertical-align:super;
	margin-left:5px;
	font-size:30px;
}
h2{
	background-color:#c8e0ff;
	margin:0;
	
}
body{
	background-color:#c9f3ff;
	font-family:Verdana, Arial, sans-serif;
}
div#contents{
	margin-left:auto;
	margin-right:auto;
	width:860px;
	border:1px solid #000000;
}
address{
	text-align:center;
	border-top:2px solid #0b37b3;
}
.menu{
	height:40px;
}
.menu ul{
	height:40px;
	margin:0;
	padding:0;
	background-color:#1336fa;
}
.menu li{
	list-style-type:none;
	float:left;
}
.menu li a{
	display:block;
	width:126px;
	line-height:40px;
	text-align:center;
	color:#ffffff;
	background-color:#0007ff;
	background-image:url("image/list1.png");
	text-decoration:none;
	font-weight:bold;
	border:solid 1px #c9f3ff;
}
.first{
	display:block;
	width:132px;
	line-height:40px;
	text-align:center;
	background-color:#0006b3;
	font-weight:bold;
	color:#ffffff;
}
.menu li a:hover{
	background-color:#0006b3;
	color:#ffffff;
}
