*{
	margin: 0;
	padding: 0;
}
a:link {
	color : #6D69FF ; font-weight : bold ; }
a:visited {
	color : #AC4EAB ; font-weight : bold ; }
a:active {
	color : #C0FFC0 ; font-weight : bold ; }
a:hover {
	color : #2929FF ; font-weight : bold ; }
body{
	padding: 0;
	background-color: #99ff66;
	text-align: left;
	background-image : url(bg.png) ;	
	background-repeat : repeat ;  
	background-attachment : scroll ;
}

div#container{
	width:900px;
	height: 100%;
	margin:0;
	padding: 0;
}

div#menu{
	width: 200px;
	height: 600px;
	float: left;
	text-align: center;
	position: relative;
	background-color: #99ff66;
	padding: 10px;
	border-bottom: 1px #808080 solid;
	font-size: 80%;
}

div.menubox {
	border: 1px solid #777777;
	background-color : #FFFFFF ;
	color : #505050 ;
	width : 180px ;
	height : 18px ;
	overflow : auto ;
	text-align : center ;
	font-size: 130%;
	font-weight: bold;
	padding : 4px ;
	margin : 2px ;
	}
div.space{
	height: 20px;
}
div.space10{
	height: 10px;
}
div.linkbox {
	border: 1px solid #777777;
	background-color : #FFEDC5 ;
	color : #505050 ;
	width : 400px ;
	height : 100px ;
	overflow : auto ;
	text-align : center ;
	font-size: 100%;
	padding : 4px ;
	margin : 2px ;
	}
h3.linkbox{
	text-align: center;
	font-size: 140%;
}
li{
	list-style: disc outside;
}

img.menupic{
	
}

div.staff{
	color: #808080;
	font-size: 80%;
	font-weight: normal;
	text-align: left;
}

div#bg{
	width: 679px;
	height: 100%; 
	padding: 0;
	margin: 0;
	float: right;
	border-right: 1px #808080 solid;
	border-bottom: 1px #808080 solid;
	}

div#header{
	width: 679px;
	height: 3px;
	padding: 3px;
	margin: 0;
	background-color: #99ff66;
	font-size: 50%;
	font-weight: bold;
	text-align: right;

}

div#main{
	width: 679px;
	height: 1100px;
	padding: 10px;
	margin: 0;
	text-align: center;
	background-color: #FFFFFF;
	background-image: url(bgmain.gif);
	background-repeat: no-repeat;
	background-position: 50% 60%;
	scrollbar-base-color: #FFFFFF;
	scrollbar-arrow-color: #444444;
	scrollbar-3dlight-color: #444444;
	scrollbar-darkshadow-color: #444444;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
}

h2{
	font-size: 260%
}

a.reserve {
	font-size: 110%;
	text-decoration: underline;
	background-color: #FFCBCB;
}
a.link{
	font-size: 80%;
}
table.panelist{
	text-align: center;
	border: 2px #808080 dotted;
	background-color: #FFFFFF;
}
td.panelist{
	width: 120px;
}
td.reserve{
	width: 380px;
	text-align: left;
}
td.reserve1{
	width: 240px;
	text-align:right;
	
}
form{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
}

div.topbox{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
	text-align: left;
	width: 620px;
	padding :10px;
	font-size: 110%;
}

div.topbox2{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
	width: 620px;
	padding :10px;
}
div.timebox{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
	width: 260px;
	padding :10px;
	text-align: left;
}
div.contentbox{
	border: 2px #808080 dotted;
	background-color: #FFF4E6;
	width: 610px;
	padding :10px;
}
div.pic{
	font-size: 110%;
	float: left;
	width: 120px;
	padding: 0px;
}
div.profile{
	font-size: 90%;
	text-align: left;
}

div#footer{
	width: 679px;
	height: 20px;
	padding: 10px;
	clear: both;
	margin: 0;
	background-color: #99ff66;
	text-align: center;
	font-size: 80%;
	color: #606060;
} 
