@charset "utf-8";


/*全体の設定
---------------------------------------------------------------------------*/
body {
	background: url(none);
}

/*h1タグ設定
---------------------------------------------------------------------------*/
h1 {
	display: none;
}

/*コンテナー（HPを囲むブロック）
---------------------------------------------------------------------------*/
#container {
	width: auto;
	padding: 5px;	/*ボックス内の余白*/
	border-radius: 0px;	/*角丸のサイズ*/
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*ヘッダー（サイト名ロゴが入ったブロック）
---------------------------------------------------------------------------*/
header {
	margin-bottom: 0px;
}

/*タブレット・スマホ専用メニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
#menubar ul li {
	float: none;
	width: 100%;
}
#menubar ul li a {
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	display: block;
	border-bottom: 2px dotted #8c8c8c;	/*下線の幅、線種、色*/
	padding: 5px 0px;			/*上下、左右への余白*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
#menubar ul li a:hover {
	background-color: #fce6cc;	/*マウスオン時の背景色*/
}
/*最後のメニューの設定*/
#menubar ul li:last-child {
	margin-bottom: 20px;
}

/*コンテンツ（main,subを囲むブロック）
---------------------------------------------------------------------------*/
#contents {
	width: auto;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
#main, #sub {
	float: none;
	width: auto;
}

/*mainコンテンツ
---------------------------------------------------------------------------*/
/*mainコンテンツのh1タグの設定*/
#main h2 {
	padding: 0px 10px 0px 10px;	/*左から、上、右、下、左側への余白*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6bb75), to(#ef8100));	/*グラデーション*/
	background-image: -webkit-linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);	/*同上*/
	background-image: linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);			/*同上*/
}
/*mainコンテンツの段落タグ設定*/
#main p {
	padding: 0.5em 5px 1em;
}

/*gallery.html内のブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list article {
	width: 96%;		/*ボックスの幅*/
	height: auto;	/*ボックスの高さ*/
	float: none;
	margin: 0px auto 15px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#main section.list article img {
	width: 100%;	/*ボックスの幅*/
	height: auto;	/*ボックスの高さ*/
}

/*トップページのメイン画像
---------------------------------------------------------------------------*/
#mainimg {
	height: auto;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 20px;
}
#mainimg img {
	border: 5px solid #FFF;
}
#slide_image {
	height: auto;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#slide_image2 {
	height: auto;
	width: 100%;
	position: absolute;
	left:0px;
	top:0px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	background-color: #fce6cc;
	border-top: 1px solid #CCC;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
section#new h2.open {
	background: url(../images/btn_minus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#f6bb75), to(#ef8100));
	background: url(../images/btn_minus.png) no-repeat right center, -webkit-linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);
	background: url(../images/btn_minus.png) no-repeat right center, linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);
}
section#new h2.close {
	background: url(../images/btn_plus.png) no-repeat right center, -webkit-gradient(linear, left top, left bottom, from(#f6bb75), to(#ef8100));
	background: url(../images/btn_plus.png) no-repeat right center, -webkit-linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);
	background: url(../images/btn_plus.png) no-repeat right center, linear-gradient(#f6bb75, #ef8d1a 49%, #ef8100 50%);
}
/*ブロック全体の設定*/
#new dl {
	height: auto;
	padding-left: 0;
}
/*日付設定*/
#new dt {
	float: none;
	width: auto;
}
/*記事設定*/
#new dd {
	padding-left: 0;
}

/*menu.html内のメニューブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
#main section.list article {
	float: none;
	margin: 0px auto 1em;
}

/*テーブル１
---------------------------------------------------------------------------*/
.ta1 {
	width: 100%;
}
/*テーブル内の右側*/
.ta1 td{
	width: auto;
	padding: 2px;
}
/*テーブル内の左側の見出し部分*/
.ta1 th{
	width: 100px;
	padding: 2px;
}

/*その他
---------------------------------------------------------------------------*/
/*写真の設定*/
img.wa {
	width: 100%;
	height: auto;
}
#sub #submenu {
	display: none;
}
#menubar {
	display: block;
}
/*メニュー折りたたみ設定*/
#top #menubar_hdr {
	display: none;
}
#menubar_hdr {
	display: inline;
	position: absolute;
	top: 0px;
	right: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e5e5e5));
	background-image: -webkit-linear-gradient(#fbfbfb, #e5e5e5);
	background-image: linear-gradient(#fbfbfb, #e5e5e5);
	padding: 10px;
	border: 1px solid #cfcfcf;
	border-radius: 0px 0px 6px 6px;
	z-index: 10;
}
