﻿@charset "utf-8";

/* floatを解除するためのclearfix */
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}

body {
    color: #222222;
    margin: 0px;
    padding: 0px;
    font-size: 90%;
    line-height: 150%;
    background-color: #f9f6ce;
}

#page {
    width: 950px;
    margin: 0px;
    margin-top: -30px;
    padding: 0px;
    z-index: 1;
    background-color: #005396;
    border-color:#005396;
    border-width: 0px;
    border-style: solid;
    height: auto;
    position: static;
}

#main{
    background-color: #FFFFFF;
    width: 850px;
    margin-left: 0px;
    margin-right: 50px;
    margin-top : 5px;
    margin-bottom : 20px;
    position: static;
}

#main-box{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
	padding-top: 10px;
}

#main-contents{
    margin: 0px;
    background-color: #FFFFFF;
}

#header{
    background-color: #005396;
    margin: 0;
    width: 950px;
    height: 64px;
}

#title{
    margin-top: 0px;
}
#title h1 a {
    font-size: 150%;
    color: #333333;
    display: block;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    margin-left: 0px;
    margin-top : 0px;
    background: none;
    background: url('img/title.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 950px;
    height: 64px;
    float: left;
}
#title .space{
  background-color: #005396;
  width: 343px;
  height: 256px;
  margin: 0;
  float: right;
}

#menuback{
    width: 100%;
    border-right: 0;
    padding:0;
}
div.hr-bar{
    height: 1px;
    background-color: #005396;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
    height: 3px;
}
#fooder{
    width: 900px;
    margin-top: 20px;
}
#fooder-button{
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ Ｐゴシック","TakaoGothic",sans-serif;
    color: #000000;
    background-color: #F0F0F0;
    width: 120px;
    float: right;
    font-size: 11px;
    padding: 2px;
    padding-bottom: 0px;
    text-align: right;
    border-color: #D6D6D6;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 4px;        /* CSS3草案 */  
    -webkit-top-left-border-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-top-left-radius: 4px;   /* Firefox用 */  
    border-bottom-left-radius: 4px;        /* CSS3草案 */  
    -webkit-border-bottom-left-radius: 4px;    /* Safari,Google Chrome用 */  
    -moz-border-bottom-left-radius: 4px;   /* Firefox用 */  
	margin-bottom: 10px;
}
#fooder-top{
    color: #003366;
    font-size: 11px;
    font-weight: bold;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    text-align: center;
}
#fooder-top-image{
    background: url('img/crest_00.gif') no-repeat scroll transparent;
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
}
#gakuzei2012top {
    display: block;
    margin: auto;
		margin-top: 20pt;
		margin-bottom: 20pt;
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title_l2012.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 720px;
    height: 400px;
}
#banner2012 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/banner2012.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 170px;
    height: 70px;
}
#gakuzei2016 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title2016n.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}
#gakuzei2014 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title2014.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}#gakuzei2012 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title2012.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}#gakuzei2010 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title_s2010.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}
#gakuzei2008 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title_s2008.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}
#gakuzei2005 {
    font-size: 150%;
    color: #333333;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #910C03;
    text-indent: -9999px;
    background: none;
    background: url('img/title_s2005.png') no-repeat scroll 0 0;
    background-color:  transparent;
    width: 300px;
    height: 47px;
}

#main-contents dl dd{
  display:list-item;
}
#main-contents h2{
    color:#005396;
    font-size: 150%;
    margin-left: 0px;
    margin-bottom : 2px;
    margin-top : 20px;
    padding : 4px;
    padding-left : 8px;
    padding-bottom : 6px;
    font-weight: bold;
    text-decoration: none;
}
.result ul{
    margin: 0 0 0px 20px;
    line-height: 25px;
    padding: 0;
    float: left;
}
.result1 ul{
    margin: 0 0 0px 20px;
    line-height: 25px;
    padding: 0;
    float: left;
}
.result2 ul{
    margin: 0 0 0px 20px;
    line-height: 25px;
    padding: 0;
    float: left;
}
.result ul li{
    cursor:pointer;
    padding:0;
    width: 300px;
    height: 20px;
    font-size : 100%;
    float: none;
}
.result1 ul li{
    cursor:pointer;
    padding:0;
    width: 300px;
    height: 20px;
    font-size : 100%;
    float: none;
}
.result2 ul li{
    cursor:pointer;
    padding:0;
    width: 300px;
    height: 20px;
    font-size : 100%;
    float: none;
}
.result2012 ul li{
    list-style-type:none;
    cursor:pointer;
    padding:0;
    width: 300px;
    height: 20px;
    font-size : 100%;
    float: none;
}
#main-contents h4{
    color: #222222;
    font-size: 100%;
    font-weight: normal;
    margin-left : 1em;
    border-bottom-color : #005396;
    line-height: 80%;
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ ゴシック","TakaoGothic",sans-serif;
}

#main-contents div{
    margin-left : 2em;
}
#main-contents .result{
	float: left;
	height: 200px;
}
#main-contents .result3{
	float: left;
	height: 200px;
}
#main-contents .result4{
	float: right;
	height: 200px;
}
#main-contents .result1{
	float: left;
	height: 430px;
}
#main-contents .result2{
	float: left;
	height: 430px;
}
#main-contents .result2012{
	float: left;
	height: 270px;
}
#main-contents .follow2012{
	float: left;
	height: 50px;
}

#main-contents .info{
	float: left;
	height: 160px;
}


p{
  line-height:140%;
  font-size: 90%;
  font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ ゴシック","TakaoGothic",sans-serif;
  margin-left: 1em;
}
div{
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ ゴシック","TakaoGothic",sans-serif;
}
li{
    font-family:"ヒラギノ角ゴ Pro W3","メイリオ","ＭＳ ゴシック","TakaoGothic",sans-serif;
}
.centering {
    display:block;
    margin: 0 auto;
    text-align: center;
}
.new{
    color: red;
    font-style: italic;
}
.uchikeshi{
	text-decoration: line-through;
}